<div class="search">
    <i class="fa-solid fa-magnifying-glass"></i>
    <%= form_with(url: search_path, scope: :post, local: true) do |f| %>
      <%= f.text_field :search, placeholder: "キーワード検索" %>
      <% f.submit %>
    <% end %>
</div>